body{
    font-family: var(--fonte-principal);
    color: #333333;
}

main{
    padding: 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

@media (max-width: 1280px){
    main{
        padding: 0.625rem;
    }
}